button {
    cursor: pointer;
}
.blog {
}
.container {
    width: 1150px;
    margin: 0 auto;
}
.blog-inner {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.post__inputs {
    padding: 10px;
    max-width: 500px;
}
.post__input {
}
.post__title {
    margin-bottom: 60px;
}
.post__title h2 {
    font-size: 40px;
    font-weight: 600;
}
form.post__inputs {
}
.post__input-title {
    margin-bottom: 20px;
}
.input-content__title {
    font-size: 24px;
}
.post__input-text {
    margin-bottom: 30px;
}
.input-content__text {
    width: 300px;
    height: 250px;
    font-size: 24px;
}
.post__btn {}
button.new-post-btn {
    padding: 10px 0;
    width: 300px;
    border: none;
    font-size: 24px;
    color: #fff;
    background-color: #0094FF;
}
.post__output {
    padding: 10px;
    width: 500px;
}
.post__output-title {
    margin-bottom: 60px;
    max-width: 300px;
}
.post__output-title h2 {
    font-size: 40px;
    font-weight: 600;
}
.output-content__date-today {
    margin-bottom: 15px;
    font-size: 20px;
    color: #0094FF;
}
.post__output-content {
    margin-bottom: 50px;
    max-width: 400px;
}
.output-content__title {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 600;
    overflow: hidden;
    word-break: break-all;
}
.output-content__text {
    overflow: hidden;
    word-break: break-all;
    font-size: 22px;
}